<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nationsköket</title>
  <link rel="stylesheet" href="dist/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nationPub.css">
</head>
<body>
  <div id="orders">
    <h1>{{ uiLabels.ordersInQueue }}</h1>
    <ol>
      <li v-for="(orderItem, orderId) in orders" v-if="!orderItem.done">
        {{ orderId }} (Table #{{ orderItem.order.order.tableNumber }})
        <ul>
          <li v-for="item in orderItem.order.order.items">
            {{ item }}
          </li>
        </ul>
        <button class="btn btn-primary" v-on:click="markDone(orderId)">
          {{uiLabels.ready}}
        </button>
      </li>
    </ol>
        <h1>{{ uiLabels.ordersFinished }}</h1>
    <ol>
      <li v-for="(orderItem, orderId) in orders" v-if="orderItem.done">
        {{ orderId }} (Table #{{ orderItem.order.order.tableNumber }})
        <ul>
          <li v-for="item in orderItem.order.order.items">
            {{ item }}
          </li>
        </ul>
      </li>
    </ol>
  </div>
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/nationPub.js"></script>
  <script src="js/kitchen.js"></script>
</body>
</html>