<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nationsköket</title>
  <link rel="stylesheet" href="dist/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/nationPub.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <div id="orders">
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              Burger Pub
            </a>
          </div>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/">Boka bord</a></li>
              <li><a href="/order/bar">Ordersida</a></li>
              <li class="active"><a href="/kitchen">Köket</a></li>
            </ul>

            <p class="navbar-text navbar-right">
              Inloggad som
              <strong>admin</strong>
            </p>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <div class="row">
        <h1>{{ uiLabels.ordersInQueue }}</h1>

        <div class="col-lg-3 col-md-4 col-sm-6" v-for="(orderItem, orderId) in orders" v-if="!orderItem.done">
          <div class="panel panel-diner panel-order">
            <div class="panel-heading">
              Order: #{{ orderId }}
              <small v-if="orderItem.order.order.tableNumber">Table: #{{ orderItem.order.order.tableNumber }}</small>
            </div>
            <div class="panel-body">
              <ul>
                <li v-for="item in orderItem.order.order.items">
                  {{ item }}
                </li>
              </ul>
              <button class="btn btn-primary" v-on:click="markDone(orderId)">
                {{uiLabels.ready}}
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <h1>{{ uiLabels.ordersFinished }}</h1>

        <div class="col-lg-3 col-md-4 col-sm-6" v-for="(orderItem, orderId) in orders" v-if="orderItem.done">
          <div class="panel panel-diner panel-order">
            <div class="panel-heading">
              Order: #{{ orderId }}
              <small v-if="orderItem.order.order.tableNumber">Table: #{{ orderItem.order.order.tableNumber }}</small>
            </div>
            <div class="panel-body">
              <ul>
                <li v-for="item in orderItem.order.order.items">
                  {{ item }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/dist/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="js/nationPub.js"></script>
  <script src="js/kitchen.js"></script>
</body>
</html>
