<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nationsköket</title>
  <link rel="stylesheet" href="css/nationPub.css">
</head>
<body>
  <div id="orders">
    <h1>{{ uiLabels.ordersInQueue }}</h1>
    <ol>
      <li v-for="(item, key) in orders" v-if="!item.done"> 
        {{ key }} : {{ item.orderItems.join(', ') }} 
        <button v-on:click="markDone(key)">
          {{uiLabels.ready}}
        </button>
      </li>
    </ol>
        <h1>{{ uiLabels.ordersFinished }}</h1>
    <ol>
      <li v-for="(item, key) in orders" v-if="item.done"> 
        {{ key }} : {{ item.orderItems.join(', ') }}
      </li>
    </ol>
  </div>
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/nationPub.js"></script>
  <script src="js/kitchen.js"></script>
</body>
</html>