.panel-items {
    font-size: 0.9em;
    height: 100%;
}

ul {
   list-style: none;
}

#vue {
    height: 100vh;
    margin-top: -90px;
    padding-top: 90px;
}

.container, .row, .col-lg-8, .col-lg-4, #current-order {
    height: 100%;
}

#current-order {
}
#current-order .panel-body {
    height: 100%;
    margin-top: -140px;
    padding-top: 140px;
}

#order-list {
    height: 100%;
    margin-bottom: 20px;
    overflow-y: auto;
}

#order-list ul {
    padding-left: 5px;
}

.item-group h2 {
    font-weight: 200 ! important;
    font-family: 'Fira Sans', sans-serif ! important;
    font-size: 30px ! important;

    color: #838383;
}

.item-group {
    text-align: center;
}

.btn-menuitem {
    border: 1px solid #eaeaea ! important;
    background-color: #fbfbfb;
    color: #0f5a5e;
    font-size: 2.8em;
    margin: 10px 0;
    padding: 10px 20px;
}
.btn-orderitem {
    font-size: 1.2em;
}

.remove-item span {
    color: #b62845;
    font-size: 1.8em;
    top: 10px;
}

#category-buttons {
    font-size: 1.5em;
}
#category-buttons .active {
    background-color: #25CACE;
    border-color: transparent;
}

.item-icon {
    height: 7em;
    width: 7em;
}

.modal-body ul {
    font-size: 2.0em;
    font-weight: 300;
    padding-left: 0;
}

.modal-body ul strong {
    font-weight: 100;
}

.modal .btn {
    font-size: 1.8em !important;
    font-weight: 500 !important;
}
