
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400,600,700,800');

body {
    padding-top: 0px;
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 100;
}
.col-lg-12.row {
  height: 80px;
}

.col-lg-6.btn {
  height: 70px;
}
.col-lg-3.btn {
  height: 70px;
}

#matknapp{
    box-sizing: border-box;
    height: 70px;
    background-color:#25CACE;
    color:#ffffff;
    font-family: 'Fira Sans', sans-serif ! important;
    font-size: 35px ! important;
    font-weight: 200 ! important;
}

#food-menu img{
     height: 7em;
     width: 7em;
 }

#drink-menu img{
    height: 7em;
    width: 7em;
}

.menu-buttons {
    left: 1em;
}

#matknapp:hover{
  background-color: #33c4cf;
}



.item-group h2 {
     font-weight: 200 ! important;
     font-family: 'Fira Sans', sans-serif ! important;
     font-size: 30px ! important;

     color: #838383;
 }

.item-group {
    text-align: center;
}


#dryckesknapp {
    box-sizing: border-box;
    height: 70px;
    background-color: white;
    color: #25CACE;
    font-family: 'Fira Sans', sans-serif ! important;
    font-size: 35px ! important;
    font-weight: 200 ! important;
}

#dryckesknapp:hover {
  background-color: #f7f7f7;
}

.mat {
  background-color: #F6A348 !important;
}
.mat:hover {
    background-color: #F58F29 !important;
}

.dryck {
  background-color: #5D8CBA !important;
}
.dryck:hover {
      background-color: #547EA7 !important;

}

.btn-menuitem {
    border: 1px solid #eaeaea ! important;

    height: 70px;
    padding: 0px;
    background-color: #fbfbfb;
    display:inline-block;
    color: #0f5a5e;
    font-family: 'Fira Sans', sans-serif ! important;
    font-size: 25px ! important;
    font-weight: 200 ! important;
}

.btn #changebutton {
     border: 2px solid;
     border-color: black;
     padding: 15px 32px;
     text-align: center;
     font-size: 16px;
     margin: 6px 0px;

     padding-right: 10px;
   }

.btn:hover {
  background: #f7f7f7;
  text-decoration: none;
}

#right {
  overflow-y: auto;
  height: 600px;
  margin-left: 10px;
  margin-top: 13px;
  background-color: #cecece;
  border-radius: 5px;  border: 1px solid #989898;
}

#left {

  border-radius: 5px;
  padding:0.5em;
    top: 13px;
  border: 0.4px solid #ababab;
  background-color: #ececec;
  height: 1000px;
  width: 800px;
}


