body {
    padding-top: 0px;
}

.available {
    background-color: #fff;
}

.waiting {
    background-color: #fff4a5;
}

.ok {
    background-color: #96ec96;
}

.critical {
    background-color: #ffd2ca;
}
