@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,600,700,800');

body {
    font: 100 1.0em 'Fira Sans', sans-serif;
    margin-top: 55px;
}

.available {
    background-color: #fff;
}

.waiting {
    background-color: #fff4a5;
}

.ok {
    background-color: #96ec96;
}

.critical {
    background-color: #ffd2ca;
}

.navbar {
    font-size: 1.8em;
}
    .navbar-default {
        background-color: #ececec;
        border-bottom: 1px solid #cbcbcb;
    }
    .navbar li a {
        font-weight: 500;
    }
.navbar-brand {
    font-weight: 200;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #cecece;
}
.navbar-text {
    font-weight: 300;
}

.panel-diner {
    background-color: #ececec;
    border: 1px solid #ababab;
    border-radius: 5px;
    font-size: 1.8em;
    margin-top: 13px;
    padding: 0.5em;
}
.panel-diner .panel-heading {
    font-size: 1.4em;
    font-weight: 200;
}

.panel-order .panel-body {
    color: #131313;
    font-weight: 200;
}
.panel-order .panel-heading small {
    float: right;
    font-weight: 100;
}

.panel-table h2 {
    font-size: 1.2em;
    font-weight: 200;
}
.panel-table p {
    font-size: 1.1em;
    font-weight: 300;
}

.btn {
    font-size: 1.2em;
    font-weight: 200;
    padding: 10px 25px;
}

.btn-lg {
    font-size: 1.7em;
}

.btn-default {
    background-color: #fbfbfb;
    border: 2px solid #33c3ce;
    color: #33c3ce;
}
    .btn-default:focus,
    .btn-default:hover {
        background-color: #fbfbfb;
        border: 2px solid #33c3ce;
    }

.btn-primary {
    background-color: #25CACE;
    border: 2px solid #33c3ce;
    color: #fff;
}
    .btn-primary:focus,
    .btn-primary:hover {
        background-color: #25CACE;
        border: 2px solid #33c3ce;
        color: #2e2e2e;
    }
.btn-danger:hover,
.btn-danger {
    background-color: #d9534f !important;
}
.btn-success:hover,
.btn-success {
    background-color: #5cb85c !important;
}

input[type="text"].form-control {
    height: inherit;
}

form input[type="text"] {
    border-radius: 35px;
    font-size: 2.0em;
    font-weight: 200;
    padding: 10px 0;
}

form label {
    font-size: 1.4em;
    font-weight: 200;
}

form#book-table {
    text-align: center;
}
    form#book-table input,
    form#book-table .btn {
        text-align: center;
    }

#book-buttons {
    margin-top: 40px;
}
.waiting-orders-enter-active, .waiting-orders-leave-active,
.done-orders-enter-active, .done-orders-leave-active {
  transition: all 0.3s ease;
}
.waiting-orders-enter {
  opacity: 0;
  transform: translateX(60px);
}
.waiting-orders-leave-to {
  opacity: 0;
  transform: translateX(60px);
}
.done-orders-enter {
  opacity: 0;
  transform: translateX(-60px);
}
.done-orders-leave-to {
  opacity: 0;
  transform: translateX(-60px);
}

#done-orders .panel-diner {
    background-color: #d3ead7;
    border-color: #8f9e92;
}